* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}

article,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    background-image: url(IMG/backgr.jpg);
    background-position-x: -600px;

}

.check {
    margin: calc(50vh - 60px) auto 10px auto;
}

.field {
    display: block;
    margin: 10px auto;
    height: 45px;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
}

.submit {
    margin: 10px auto 10px auto;
    display: block;
    height: 45px;
    width: 90%;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.submit:hover {
    background-color: black;
    color: white;
}

.measurementsContainer {
    display: flex;
    width: 90%;
    margin: auto;
}

.measurementsContainer div:nth-child(n) {
    background-color: rgba(255, 255, 255, 0.342);
    text-align: center;
    flex: 1;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
}

.measurementsContainer div:nth-child(n+2) {
    border-left: 1px solid;
}

.measurementsContainer div:nth-child(n):hover {
    background-color: white;
}

/* Top boxs */

.topDiv {
    position: relative;
    margin: 2px auto 2px auto;
    height: 50px;
    width: 90%;
    background-color: white;
    left: 100%;
    cursor: pointer;
}

.topDiv h1 {
    display: inline-block;
    margin-left: 10px;
    line-height: 50px;
}

.topDiv h2,
.topDiv p {
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
}

.topDiv p {
    font-size: 15px;
}

.panel {
    width: 90%;
    margin: auto;
    font-size: 14px;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.topDiv:after {
    font-size: 15px;
    margin-top: 17px;
    margin-right: 20px;
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
}

.active:after {
    content: "\2212";
}